.lab-page {
    .upload-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .toolbox {
            padding: 0.5rem;

            h5 {
                text-align: center;
                line-height: 1.3;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            .btn {
                color: $white;
                width: 100%;
            }
        }

        &.bg-secondary {
            color: $gray-400;
            pointer-events: none;

            .toolbox {
                .btn {
                    color: $gray-400;
                }
            }
        }
    }
}