.figure-star-info {
  .star-short-info {
    padding-bottom: 0.4rem;

    img {
      width: 85px;
      height: 85px;
      background: $gray-400;

      @include media-breakpoint-down(sm) {
        width: 60px;
        height: 60px;
      }
    }

    .star-info-name {
      font-weight: 600;

      @include media-breakpoint-down(sm) {
        font-size: 1rem;
      }
    }
  }
}

.figure-info {
  .figure-name {
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      font-size: 0.8rem;
    }
  }
}

.basic-principles-videos-wrapper {

  .basic-principles-videos {
    .basic-principles-video {
      @include list-item;

      .basic-principal-image {
        @include list-item-image(50%);

      }

      .basic-principal-content {
        @include list-item-text(50%);
      }

    }
  }
}

.comparable-videos-wrapper {
  .comparable-video-inner {
    @include list-item;

    .comparable-video-image {
      @include list-item-image(50%);

    }

    .comparable-video-text {
      @include list-item-text(50%);

      .badges {
        .badge {
          margin-right: 0.2rem;
        }
      }

    }
  }
}