.star-content-tabs {
  position: relative;
  min-height: 5rem;

  .star-dances-pills-row {
    .nav-pills {
      .nav-item {
        .nav-link {
          @include media-breakpoint-down(sm) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }

  .star-dance-content-row {
    .level-tabs {
      border-top: $tab-level-border;
      border-bottom: $tab-level-border;
      margin: 10px -15px 0 -15px;

      li {
        text-align: center;
        width: calc(100% / 3);

        a {
          color: $dark;
          border-radius: 0;
          border: $tab-level-border;
          border-top: none;
          font-weight: $font-weight-bold-light;

          @include media-breakpoint-down(sm) {
            font-size: 0.75rem;
          }

          &.active {
            background-color: $gray-200;
            font-weight: $font-weight-bold;
          }
        }
      }

      &.one-tab {
        li a {
          border-left: none;
        }
      }

      &.more-then-one {

        li {
          float: left;

          &:nth-child(1) {
            a {
              border-left: none;

            }
          }

          &:nth-child(3) {
            a {
              border-right: none;
            }
          }
        }
      }


    }
  }

  .figure-preview {

    .figure-preview-inner {
      @include list-item;

      .preview-img-wrapper {
        @include list-item-image(40%);

        .preview-img {
          width: 100%;
          height: 80px;
        }
      }

      .preview-content-wrapper {
        @include list-item-text(60%);

        h6 {
          text-transform: capitalize;

          @include media-breakpoint-down(sm) {
            font-size: 0.8rem;
            margin-bottom: 0.3rem;
          }

        }

        p {
          @include media-breakpoint-down(sm) {
            font-size: 0.7rem;
            margin-bottom: 0.3rem;
          }
        }

        .btn-sm {
          @include media-breakpoint-down(sm) {
            font-size: 0.7rem;
          }
        }

      }
    }


  }
}