svg {
    &.logo {
        .st0 {
            clip-path: url(#SVGID_2_);
            fill: $indigo;
        }

        .st1 {
            clip-path: url(#SVGID_4_);
            fill: url(#SVGID_5_);
        }

        .st2 {
            fill: $indigo;
        }

        .st3 {
            fill: none;
        }
    }
}