.navigation {
  @include position_fixed (auto, 0, 0, 0);
  display: flex;
  justify-content: center;
  background: $white;
  border: none;
  border-top: $navigation-border;
  z-index: 310;


  .navigation-btn-container {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: stretch;
    width: 100%;

    @include media-breakpoint-up(sm) {
      justify-content: center;
      width: auto;
      min-width: 60%;
    }

    @include media-breakpoint-up(lg) {
      min-width: 33%;
    }

    .nav-btn {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin: 0;
      padding: 0;
      border-left: $navigation-border;



      &:hover {
        background: $gray-200;
      }

      &:last-of-type {
        border-right: $navigation-border;
      }

      .icon {
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        padding: 0.2rem;

        @include media-breakpoint-up(md) {
          font-size: 1.9rem;
          padding: 0.25rem;
        }
      }

      .marker {
        width: 100%;
        height: 0;
        border-top: $navigation-selected-border;
        @include trans_ition (border-top-color .5s ease-in-out);
      }

      .label {
        padding: 0.5rem;
        padding-top: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 0.8rem;
        text-transform: lowercase;
        font-weight: 500;
        overflow: hidden;
        height: auto;
        max-height: 50px;

        @include media-breakpoint-down(md) {
          @include trans_ition (all .22s ease-in-out);
        }

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }

        label {
          display: inline-block;
          margin: 0;
        }

        &.hide-label {
          @include media-breakpoint-down(md) {
            height: 0;
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }

      &.active {
        .marker {
          border-top-color: $success;
        }

        &:hover {
          background: $gray-100;
        }
      }

      &:focus {
        outline: 0;
      }
    }
  }
}