body,
html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}

//  remove blue background on chrome autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.full-height {
  min-height: 100vh;
}

.inner-page-container {
  padding-top: 2.5rem;
  padding-bottom: 6rem;
}

.cover-bg {
  background-position: center;
  background-size: cover;
}

.page-title-row {
  .btn {
    display: inline-block;
    min-width: 8rem;
  }

  .inner-page-title {
    text-align: center;
    font-size: 1.2rem;
    color: grey;
  }

  .inner-page-sub-title {
    text-align: center;
    font-size: 1rem;
  }
}


//Buttons


.danskill-btn {
  border: none;
  background: transparent;
}

.danskill-form-group{
  position: relative;
  input {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold-light;

    &.is-invalid{
      margin-bottom: 25px;
    }
  }

  label {
    position: absolute;
    top: calc(50% - 5px);
    right: 25px;
    color: $dark;
    font-size: $label-font;
    font-weight: $font-weight-bold-light;
  }
  .invalid-feedback{
    position: absolute;
    bottom: -20px;
    //position: fixed;
    //margin-bottom: 10px;
  }
}

.danskill-next-btn{
    height: 60px;
    width: 100%;
    opacity: 1;

    .arrow {
      width: 15px;
    }


}

.danskill-icon-btn {
  @extend .danskill-btn;
  background-size: 100% 100%;
  height: 15px;
  width: 15px;
}

.danskill-tab-btn {
  @extend .danskill-btn;
  height: 60px;
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: $dark;

  &.selected:after{
    content:"";
    position:absolute;
    bottom:-15px;
    border-width:15px 10px 0;
    border-style:solid;
    display:block;
    width:0;
  }
}


.edit-btn {
  @extend .danskill-icon-btn;
  background-image: url('./assets/images/icons/edit.svg');

}

.hide-btn {
  @extend .danskill-btn;
}

.title-input {
  @extend .danskill-btn;
}

.save-btn {
  // @extend .danskill-btn;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}

.clear-btn {
  @extend .danskill-icon-btn;
  background-image: url('./assets/images/icons/close.svg');
}

.search-btn {
  @extend .danskill-icon-btn;
  background-image: url('./assets/images/icons/search.svg');
}

.next-btn {
  @extend .danskill-icon-btn;
  background-image: url('./assets/images/icons/next.svg');
}

.prev-btn {
  @extend .danskill-icon-btn;
  background-image: url('./assets/images/icons/back.svg');
}



