@import "./mixins/round-buttons";
@import "./mixins/underline";
@import "./mixins/animate-spin";

@mixin position_fixed($top: auto, $bottom: auto, $left:auto, $right :auto, $width: 100%) {
  position: fixed;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  width: $width;
}

@mixin border ($width: 1px, $style: solid, $color: $black) {
  border: $width $style $color;
}


@mixin trans_form ($trans) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
  -ms-transform: $trans;
}

@mixin trans_ition ($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
  -ms-transition: $trans;
}

@mixin list-item {
  padding: 0.85rem 0;
  position: relative;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: row;
  }
}

@mixin list-item-image ($width) {
  width: 100%;

  @include media-breakpoint-down(sm) {
    flex: 1 1 $width;
  }
}

@mixin list-item-text ($width) {
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width/2;
    flex: 1 1 $width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@mixin text-shadow($x1:2px, $y1:2px, $blur1:5px, $color1:black, $x2:null, $y2:null, $blur2:null, $color2:null) {
  @if ($x2) {
    text-shadow: $x1 $y1 $blur1 $color1, $x2 $y2 $blur2 $color2;
  }

  @else {
    text-shadow: $x1 $y1 $blur1 $color1;
  }
}